<div>
    <p>
        <h3>Total: <%= @cert_count %></h3>
        <a class="link" href="/item.csv">Download as CSV</a>
    </p>
    <%= form_tag item_index_path, :method => 'get', :id => "cn_search" do %>
    <p>
        <%= text_field_tag :cn, params[:cn], :placeholder => "Common Name" %>
        <%= submit_tag "Search", :name => nil %>
        <%= link_to 'Clear', item_index_path %>
    </p>
    <% end %>
    <%= will_paginate @items, :renderer => BootstrapPagination::Rails %>
    <table class="table table-striped">
        <% @items.each do |item| %>
        <tr class="row">
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.created_at.in_time_zone("Central Time (US & Canada)") %></td>
            <td><%= item.status %></td>
            <td><%= item.user %></td>
            <td><%= link_to 'Delete', item, :method => :delete, data: {confirm: "Are you sure?"} %></td>
        </tr>
        <% end %>
    </table>
</div>
