<%= form_for :item, url: item_index_path do |f| %>
    <div class="form-group">
        <p>
            <label class="" for="user">Select Name:</label>
            <select name="item[user]" class="form-control" id="item_user" required>
                <option value="">Please select</option>
                <option <%= @user.eql?("Adam W.") ? 'selected="selected"' : "" %>>Adam W.</option>
                <option <%= @user.eql?("Andy K.") ? 'selected="selected"' : "" %>>Andy K.</option>
                <option <%= @user.eql?("Anthony D.") ? 'selected="selected"' : "" %>>Anthony D.</option>
                <option <%= @user.eql?("Brian B.") ? 'selected="selected"' : "" %>>Brian B.</option>
                <option <%= @user.eql?("Damien O.") ? 'selected="selected"' : "" %>>Damien O.</option>
                <option <%= @user.eql?("Daniel W.") ? 'selected="selected"' : "" %>>Daniel W.</option>
                <option <%= @user.eql?("Dennis W.") ? 'selected="selected"' : "" %>>Dennis W.</option>
                <option <%= @user.eql?("Heamen J.") ? 'selected="selected"' : "" %>>Heamen J.</option>
                <option <%= @user.eql?("Jacob M.") ? 'selected="selected"' : "" %>>Jacob M.</option>
                <option <%= @user.eql?("Jamie O.") ? 'selected="selected"' : "" %>>Jamie O.</option>
                <option <%= @user.eql?("Justin M.") ? 'selected="selected"' : "" %>>Justin M.</option>
                <option <%= @user.eql?("Lucas Q.") ? 'selected="selected"' : "" %>>Lucas Q.</option>
                <option <%= @user.eql?("Mark B.") ? 'selected="selected"' : "" %>>Mark B.</option>
                <option <%= @user.eql?("Matt K.") ? 'selected="selected"' : "" %>>Matt K.</option>
                <option <%= @user.eql?("Michael P.") ? 'selected="selected"' : "" %>>Michael P.</option>
                <option <%= @user.eql?("Tommie N.") ? 'selected="selected"' : "" %>>Tommie N.</option>
            </select>
        </p>
        <p>
            <%= f.label "Cert Common Name(s)" %><br>
            <textarea placeholder="List of certs, one per line" name="item[name]" class="form-control" rows="5" id="certs" required><%= @certs %></textarea>
        </p>
        <p>
            <label class="" for="status">Select Status:</label>
            <select name="item[status]" class="form-control" id="item_status" required>
                <option value="">Please select</option>
                <option <%= @status.eql?("Already Replaced") ? 'selected="selected"' : "" %>>Already Replaced</option>
                <option <%= @status.eql?("App Team Replacing") ? 'selected="selected"' : "" %>>App Team Replacing</option>
                <option <%= @status.eql?("Decommissioned") ? 'selected="selected"' : "" %>>Decommissioned</option>
                <option <%= @status.eql?("Replaced") ? 'selected="selected"' : "" %>>Replaced</option>
            </select>
        </p> 
        <p>
            <input class="button" type="submit" name="commit" value="Save Cert(s)" id="submit">
        </p>
    </div>
<% end %>
