<div>
    <h1>
        Leaderboard
    </h1>
    <% if not @cutoff %>
        <h3>Since noon last Friday (Central Time (US & Canada))</h3>
    <% else %>
        <h3>Since <%= @cutoff.in_time_zone("Central Time (US & Canada)").to_s(:long_ordinal) %> (Central Time (US & Canada))</h3>
    <% end %>
    <table class="table table-striped">
        <% @count.each do |key, value| %>
        <tr>
            <td><%= key %></td>
            <td><%= value %></td>
        </tr>
        <% end %>
    </table>
    <br/>
    <h1>Total: <%= @total %></h1>
</div>
