<!DOCTYPE html>
<html>
<head>
  <title>Cert Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="container-fluid">
    <ul class="nav nav-tabs">
        <li <%= current_page?("/") ? "class=active" : "" %>><a href="/">Leaderboard</a></li>
        <li <%= current_page?("/item") ? "class=active" : "" %>><a href="/item">Certs</a></li>
        <li <%= current_page?("/item/new") ? "class=active" : "" %>><a href="/item/new">Log New Certs</a></li>
    </ul>
    <br/>
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
</body>
</html>
